*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
   
}
main{

    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
   
}
/* Menu principal */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background); /* Usa a variável CSS */
    transition: background-color 0.3s ease;
    
    
}
.menu{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
            
}

/*menu hanburger*/


.hamburger {
    display: none; /* Somente visível no mobile */
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    margin-right: 10px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    margin: 4px 0;
    transition: 0.4s;
}

/*//////////*/

.logo .logo-name {
    display: none; /* Mostra logo padrão em modo responsivo */
}

.logo-modo-responsivo .logocomplete {
    display: block; /* Padrão visível no desktop */
}
.logo-modo-responsivo .logocomplete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    width: 200px;
    height: auto;
}

.welcome-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    
    
    max-width: 100%;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
    margin: 0 auto;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    box-sizing: border-box;
    text-align: center;

}

#welcome-title{ 

    color: white;
    font-size: 3rem;
    z-index: 9999;
}

.hero-button p{
font-size: 1.3rem;
font-weight: 600;
z-index: 999;
}




.highlight {
    color: #fefeff; /* Cor personalizada para o texto destacado */
    font-weight: bold; /* Negrito */
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao texto */
}


/* Links de navegação */

:root {
    --background: rgba(179, 178, 178, 0.2); /* Cor base applyed in the header*/
}

.nav-links li a.active{

    color: rgb(252, 227, 5);
    font-weight: bold;
    border-bottom: 2px solid rgb(252, 227, 5);
}


.nav-links, .nav-links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-links li, .nav-links-footer li {
    margin: 0 15px; /* Espaço entre itens */
    
}

.nav-links a, .nav-links-footer a {
    color: white;
    font-weight: 200;
    font-size: 1rem;
    text-decoration: none;
}

.nav-links-icones li a.home:hover img {
    content: url('../images/home40x40hoverpng.png');
}

.nav-links-icones li a.bubbletea:hover img {
    content: url('../images/bubbletea40x40hoverpng.png');
}

.nav-links-icones li a.cakes:hover img {
    content: url('../images/cake40x40hoverpng.png');
}

.nav-links-icones li a.snacks:hover img {
    content: url('../images/snack40x40hoverpng.png');
}

.nav-links-icones li a.order:hover img {
    content: url('../images/order40x40hoverpng.png');
}


.contact-button {
    
    position: absolute;
    left: 50%; 
    top:50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 1rem;
    color: #000000;
    border: none;
    outline: #ffff solid 4px;
    border-radius: 10px;
    outline-offset: 6px; 
    cursor: pointer;
    font-weight: 600;
    z-index: 18;
    transition: 0.3s ease;
    background-color: rgb(255, 255, 255);
   
}

.contact-button:hover{
    background-color: rgb(137, 7, 0, .5);

}

.add{

    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(137, 7, 0);

}

.add:hover{

    color: rgb(255, 255, 255);
}



.nav-links a:hover, .nav-links-footer a:hover {
    color: rgb(252, 227, 5);
    font-weight: 300;
}

.nav-links-footer a:hover {
    color: rgb(252, 227, 5);
    font-weight: 300;
}

/* Ícones de redes sociais */
.social-media {

    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;

}

.social-media li {

    margin-left: 15px;
    width: 35px; /* Define a largura do ícone */
    height: 35px; /* Define a altura do ícone */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem de fundo */
}

.social-media a {

    display: block;
    width: 100%;
    height: 100%;
    
}


/* Imagens padrão */
.social-media .face {
    background-image: url('../images/face40x40.png');
}

.social-media .insta {
    background-image: url('../images/insta40x40.png');
}

.social-media .twitter {
    background-image: url('../images/twitter40x40.png');
}
.social-media .talktous {
    background-image: url('../images/talk40x40.png');
}

.social-media .email {
    background-image: url('../images/email38x27png.png');
}

/* Efeito hover para alterar a imagem */
.social-media .face:hover {
    background-image: url('../images/face40x40hover.png');
}

.social-media .insta:hover {
    background-image: url('../images/insta40x40hover.png');
}

.social-media .twitter:hover {
    background-image: url('../images/twitter40x40hover.png');
}
.social-media .talktous:hover {
    background-image: url('../images/talk40x40hover.png');
}

.social-media .email:hover {
    background-image: url('../images/email38x28e32png.png');
}

/*images background*/



/*//////////////////////*/
/*footer styles*/

/* Estilos de base */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.logo-area img {
    max-width: 100%;
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.icons-links-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilos para os Ícones e Links */
.nav-links-icones,
.social-media,
.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links-icones li,
.social-media li,
.nav-links li {
    margin: 0 10px;
}


/* Ajuste dos Ícones Sociais */
.social-media li a {
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
}

/* Direitos Autorais */
.author-rights p {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 0.7rem;
}

.author-rights img {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30px;
}


/*///slides cars/////*/
.carrocel{

    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--background); /* Usa a variável CSS */
    
}



.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    display: none;
    transition: opacity 0.8s ease-in-out;
   

}


.slide.active{

    opacity: 1;
    display: block;
}

.slide > img{

    display: block;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    object-position: center;
   

}
#bkg2{

    display: block;
    max-width: 100%;
    width: 1200px;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    
        
}

#bkg3{

    display: block;
    max-width: 100%;
    width: 50%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    object-fit: contain;
    margin-top: -5%;
    
    
        
}
#soft-drinks{

    display: block;
    max-width: 100%;
    width: 1800px;
    height: 60vh;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin-top: 5%;
        
}


.carrocel > ul{

    margin: 0;
    padding: 0;
    list-style: none;
}
.carrocel-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 5rem;
    z-index: 10;
}


.carrocel-button:hover,
.carrocel-button:focus{
    color: white;
   
}


.carrocel-button.prev{
    left: 1rem;
}
.carrocel-button.next{
    right: 1rem;
}


/*////////PAGE FORM*/
/*formulario//////////////////////////////////////////*/
body.form{

    background: linear-gradient(#ff2d02, #ffb100); /* Degradê do fundo */
    
    
}

body.success{
    background: linear-gradient(#ff2d02, #ffb100);
    
}

/*pop up thanks form style*/
#popup, #overlay {
    display: none; /* Oculta inicialmente */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 2;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 600px;
    height: 600px;
    max-width: 100%;
    padding: 30px;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: none;
    z-index: 3;
}

.leftside-popup{

    background-color: #ff2d02;
    border-radius: 20px;
    
}

.leftside-popup img{

    max-width: 100%;
    width: 300px;
    height: auto;
    padding: 20px;
    
    
}

.popup .leftside-popup h2{

    font-size: 3rem;
    padding: 10px;
    
}


.rigthside-popup{

    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.rigthside-popup{
    
    color: #000000;
    background-color: white;
    border-radius: 20px;
}
.popup .rigthside-popup h2{
    
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    
}

.popup .rigthside-popup p{
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}
/* Estilos para o pop-up */


/*///////*/

.contact-info {
    flex: 1;
    padding: 30px;
}


.contact-info h1 {
    font-size: 24px;
    color: white;
    margin-top: 1px; /* Adiciona margem superior */
}
.contact-info p {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
}
.contact-info .info-item img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.info-item{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    padding: 10px;

}

.contact-form {
    flex: 1;
    padding: 30px;
    gap: 20px;
}
.contact-form input, .contact-form textarea{

    outline: none;
}

.contact-form h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    background-color: #ff2d02;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #b41c01;
}

span {
    font-size: 13px;
    color: white;
    text-align: center;
}
/*////////////////////////////////////////////////////*/
/*thanks page*/

.thanks-container{

    /*border-radius: 10px;*/
    display: flex;
    gap: 10px;
    
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    padding: 20px; /* Adiciona espaçamento interno */
    z-index: 3;
   
    background-repeat: no-repeat;
   background-size: cover;
    background-position:center;
    height: 70vh;  
   
}
/*beverages pages styles*/

/*styles test*/
.beverages-title{

    font-size: 3rem;
    padding: 20px;
    color: white;

}

/* Container dos cartões */
/* Container dos cartões */
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px; /* Espaçamento entre os cartões */
    padding: 20px; /* Adiciona um espaçamento interno ao container */
    max-width: 1200px;
    overflow-x: hidden;
    
}

/* Estilos dos cartões individuais */
.card {
    background-color:  rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2); /* Sombra para o cartão */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px; /* Espaçamento interno do cartão */
    box-sizing: border-box; /* Inclui padding e border nas dimensões do cartão */
    margin-top: 20px;
    margin-bottom: 20px;
}



/* Imagem dentro do cartão */
.card img {
    max-width: 100%;
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* Título do produto */
.card h2 {
    font-size: 1.3rem;
    color: #333;
    margin: 10px 0;
    text-align: center;
}

/* Texto de descrição e preço */
.card p {
    color: #000;
    font-size: 1rem;
    margin: 5px 0;
    text-align: center;
}

/* Botões de tamanho */
.size-buttons {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.size-button {
    background-color: #ff2d02;
    padding: 5px 12px; /* Ajusta o padding para se adaptar melhor ao conteúdo */
    color: white;
    border: none;
    border-radius: 12px; /* Arredondamento maior para efeito de pílula */
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 0.8rem;
    min-width: 36px; /* Define uma largura mínima para garantir uma boa aparência */
    min-height: 36px; /* Define uma altura mínima */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Efeito de hover */
.size-button:hover {
    background-color: #000000;
}

.price-display {
    font-weight: bold;
    font-size: 0.5rem;
    color: #333;
    margin-top: 8px;
}

.product-card .cart-icon {
    width: 35px; /* Ajuste o tamanho do ícone */
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s;
}

section.product-card{


}

.cart-icon:hover {
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}

.cart-message {
    font-size: 0.9rem; /* Tamanho da fonte */
    color: #000702; /* Cor verde para indicar sucesso */
    margin-top: 8px; /* Espaçamento acima da mensagem */
    display: none; /* Esconde a mensagem inicialmente */
}

/* Exibe a mensagem quando o carrinho for clicado */
.cart-message.show {
    display: block; /* Exibe a mensagem */
}

/*snacks page styles*/

.snacks-title{

    font-size: 3rem;
    padding: 20px;
    color: white;

}
/*////consuming api weather/////////**/


/* Weather widget */

.weather-info{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-left: 30px;
} 

.weather-info span, p{
    
    color: white;
} 



/*/////////////*/
/* Responsividade */
@media (max-width: 768px) {
    .weather-info{
    
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-left: 30px;
    } 
    
    .weather-info span, p{
        
        color: white;
    } 
    .nav-links {
        display: none; /* Esconde os links de navegação no modo responsivo */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
    }
    .logo .logo-name {
        display: block; /* Mostra logo padrão em modo responsivo */
        width: 250px;
        height: auto;
    }
    /* Logo padrão e responsivo */  
    .logo-modo-responsivo .logocomplete {
        display: none; /* Oculto no modo responsivo */
    }
    footer .social-media{

        display: flex;
    }

    .social-media{

        display: none;
    }
    /*menu hanburger*/

    .nav-links {
        display: none; /* Esconde o menu no mobile */
        flex-direction: column;
        position: absolute;
        gap: 10px;
        top: 90px;
        left: 0;
        width: 100%;
        background: linear-gradient(#ff2d02, #f51d00); /* Degradê do fundo */
        padding: 20px;
        z-index: 50;
    }
    .nav-links a, .nav-links-footer a {
        
        font-size: 0.9rem;
        
    }
    .nav-links.active {
        display: flex; /* Exibe o menu quando ativo */
    }

    .hamburger {
        display: flex;
    }

    /* Transforma o hambúrguer em "X" */
    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
    }
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    /*/////////////*/

    #welcome-title{ 

        color: white;
        font-size: 2rem;
        z-index: 9999;
    }
    
    .hero-button p{
    font-size: 1rem;
    font-weight: 600;
    z-index: 999;
    }
    
    /*footer responsivo*/
    footer {
        display: grid;
        grid-template-columns: 1fr;

    }
    footer .nav-links-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .icons-links-area {
        flex-direction: column;
        justify-content: center;
    }
   
    /**/
    #bkg2{

        display: block;
        width: 500px;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        /*transform: translate(-50%, -50%);*/
        object-fit: cover;
            
    }
    #soft-drinks{

        display: block;
        width: 500px;
        height: 70vh;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        margin-top: 10%;
            
    }
  


    /*////*/
    
    /*slider styles responsivo*/
    .carrocel img{

        margin-top: 0;
    }
    
    .carrocel-button{
        
        padding: 0 2rem;
        
    }
    .highlight {
        
      
        font-size: 2rem; /* Aumenta o tamanho da fonte */
        
    }
   
    /*/////////*/

    /*//form styles//*/
    .contact-container {
        display: flex;
        flex-direction: column;
      
    }

    .contact-container {
        border-radius: 10px;
        display: flex;
        gap: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 1200px;
        width: 100%;
        overflow: hidden;
        padding: 20px; /* Adiciona espaçamento interno */
        z-index: 3;
        height: auto;
        
        
    }
    
    .contact-info h1 {
        text-align: center;
        font-size: 20px;
        
    }

    .contact-info p {
        display: flex;
        font-size: 12px;
    }

    .contact-info .info-item {
        display: flex; /* Esconde as info-items */
        align-items: center;
    }

    .contact-info .info-item img {
        display: inline-block; /* Esconde as imagens dos info-items */
    }

    .contact-form {
        padding: 0 auto;
    }

    .contact-form h2 {
        display: flex; /* Esconde o título do formulário */
        justify-content: center;
    }
    section.product-card{

        border: 1px solid rgba(184, 184, 184, 0.4);
        border-radius: 12px;
        
    }
  
    span {
        display: flex; /* Esconde o span */
    }
    /*////////*/
   


    /*cards style responsive*/

    #cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px; /* Espaçamento entre os cartões */
        padding: 20px; /* Adiciona um espaçamento interno ao container */
        max-width: 1200px;
        overflow-x: hidden;
        
    }

    .card{

        border-radius: 0;
    }

   

   
}


@media (max-width: 480px) {
    /* Para dispositivos ainda menores */
   
    .manual-navigation {
        margin-top: 50px;
    }
    .manual-btn {
        padding: 2px;
        margin-right: 15px;
    }
    .manual-btn:not(:last-child) {
        margin-right: 15px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    footer .nav-links-footer {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    /*//form styles//*/
    .contact-container {
        display: flex;
        flex-direction: column;
       
    }
}
