*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}
main{

    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
   
}
/* Menu principal */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    transition: background-color 0.3s ease;
    
    
}
.menu{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
            
}

/*menu hanburger*/


.hamburger {
    display: none; /* Somente visível no mobile */
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    margin-right: 10px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    margin: 4px 0;
    transition: 0.4s;
}

/*//////////*/

.logo .logo-name {
    display: none; /* Mostra logo padrão em modo responsivo */
}

.logo-modo-responsivo .logocomplete {
    display: block; /* Padrão visível no desktop */
}
.logo-modo-responsivo .logocomplete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 200px;
}

.welcome-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    background-color: var(--background);
    max-width: 100%;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
    margin: 0 auto;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    box-sizing: border-box;
    text-align: center;

}



.highlight {
    color: #fefeff; /* Cor personalizada para o texto destacado */
    font-weight: bold; /* Negrito */
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao texto */
}


/* Links de navegação */

:root {
    --background: rgba(220, 79, 15, 1); /* Cor base */
}

.nav-links li a.active{

    color: rgb(252, 227, 5);
    font-weight: 500;
    border-bottom: 2px solid rgb(252, 227, 5);
}


.nav-links, .nav-links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-links li, .nav-links-footer li {
    margin: 0 15px; /* Espaço entre itens */
    
}

.nav-links a, .nav-links-footer a {
    color: white;
    font-weight: 200;
    font-size: 1rem;
    text-decoration: none;
}

.nav-links-icones li a.home:hover img {
    content: url('../images2/resized/home40x40hoverpng.png');
}

.nav-links-icones li a.bubbletea:hover img {
    content: url('../images2/resized/bubbletea40x40hoverpng.png');
}

.nav-links-icones li a.cakes:hover img {
    content: url('../images2/resized/cake40x40hoverpng.png');
}

.contact-button {

    position: absolute; /* Posiciona o botão de forma absoluta */
    left: 50%; /* Centraliza horizontalmente */
    top:50%; /* Posiciona abaixo da imagem logoName */
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 1rem;
    color: #000000;
    border: none;
    outline: #ffff solid 4px;
    border-radius: 10px;
    outline-offset: 6px; 
    cursor: pointer;
    font-weight: 600;
    z-index: 18; /* Garante que o botão fique acima de outros elementos */
    transition: 0.3s ease;
    background-color: rgb(255, 255, 255);
}

.contact-button:hover{
    background-color: rgb(137, 7, 0, .5);

}

.add{

    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(137, 7, 0);

}

.add:hover{

    color: rgb(255, 255, 255);
}


.nav-links-icones li a.snacks:hover img {
    content: url('../images2/resized/snack40x40hoverpng.png');
}

.nav-links-icones li a.order:hover img {
    content: url('../images2/resized/order40x40hoverpng.png');
}


.nav-links a:hover, .nav-links-footer a:hover {
    color: rgb(252, 227, 5);
    font-weight: 300;
}

.nav-links-footer a:hover {
    color: rgb(252, 227, 5);
    font-weight: 300;
}

/* Ícones de redes sociais */
.social-media {

    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;

}

.social-media li {

    margin-left: 15px;
    width: 35px; /* Define a largura do ícone */
    height: 35px; /* Define a altura do ícone */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem de fundo */
}

.social-media a {

    display: block;
    width: 100%;
    height: 100%;
    
}



/* Imagens padrão */
.social-media .face {
    background-image: url('../images2/resized/face40x40.png');
}

.social-media .insta {
    background-image: url('../images2/resized/insta40x40.png');
}

.social-media .twitter {
    background-image: url('../images2/resized/twitter40x40.png');
}
.social-media .talktous {
    background-image: url('../images2/resized/talk40x40.png');
}

.social-media .email {
    background-image: url('../images2/resized/email38x27png.png');
}

/* Efeito hover para alterar a imagem */
.social-media .face:hover {
    background-image: url('../images2/resized/face40x40hover.png');
}

.social-media .insta:hover {
    background-image: url('../images2/resized/insta40x40hover.png');
}

.social-media .twitter:hover {
    background-image: url('../images2/resized/twitter40x40hover.png');
}
.social-media .talktous:hover {
    background-image: url('../images2/resized/talk40x40hover.png');
}

.social-media .email:hover {
    background-image: url('../images2/resized/email38x28e32png.png');
}


/*//////////////////////*/
/*footer styles*/

/* Estilos de base */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.logo-area img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

.icons-links-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilos para os Ícones e Links */
.nav-links-icones,
.social-media,
.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links-icones li,
.social-media li,
.nav-links li {
    margin: 0 10px;
}


/* Ajuste dos Ícones Sociais */
.social-media li a {
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
}

/* Direitos Autorais */
.author-rights p {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 0.7rem;
}

.author-rights img {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30px;
}


/*///slides cars/////*/
.carrocel{

    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--background); /* Usa a variável CSS */
    
}



.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    display: none;
    transition: opacity 0.8s ease-in-out;
   

}


.slide.active{

    opacity: 1;
    display: block;
}

.slide > img{

    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
   

}

.carrocel > ul{

    margin: 0;
    padding: 0;
    list-style: none;
}
.carrocel-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 5rem;
    z-index: 10;
}


.carrocel-button:hover,
.carrocel-button:focus{
    color: white;
   
}


.carrocel-button.prev{
    left: 1rem;
}
.carrocel-button.next{
    right: 1rem;
}


/*////////PAGE FORM*/
/*formulario//////////////////////////////////////////*/

body.form{

    background: linear-gradient(#ff2d02, #ffb100); /* Degradê do fundo */
}
.contact-container {
    border-radius: 10px;
    display: flex;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    padding: 20px; /* Adiciona espaçamento interno */
    z-index: 3;
    margin-top: -350px;
    
}

.imgbkg{

    opacity: 0.2;
    z-index: 2;
}

.contact-info {
    flex: 1;
    padding: 30px;
}


.contact-info h1 {
    font-size: 24px;
    color: white;
    margin-top: 20px; /* Adiciona margem superior */
}
.contact-info p {
    margin-top: 10px;
    font-size: 12px;
    color: white;
}
.contact-info .info-item img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.info-item{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    padding: 10px;

}

.contact-info iframe {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
}

.contact-form {
    flex: 1;
    padding: 30px;
    gap: 20px;
}
.contact-form input, .contact-form textarea{

    outline: none;
}

.contact-form h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    background-color: #ff2d02;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #b41c01;
}

iframe {
    padding: 15px;             /* Espaçamento interno entre o iframe e a borda */
    background-color: none;    /* Cor de fundo para simular a borda */
    box-shadow: 0 0 0 2px white; /* Borda branca */
    border: none;              /* Remove qualquer borda padrão do iframe */
    display: block;
}
span {
    font-size: 13px;
    color: white;
    text-align: left;
}

/*////////////////////////////////////////////////////*/

/* Responsividade */
@media (max-width: 768px) {
    
    .nav-links {
        display: none; /* Esconde os links de navegação no modo responsivo */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
    }
    .logo .logo-name {
        display: block; /* Mostra logo padrão em modo responsivo */
        width: 250px;
    }
    /* Logo padrão e responsivo */  
    .logo-modo-responsivo .logocomplete {
        display: none; /* Oculto no modo responsivo */
    }
    footer .social-media{

        display: flex;
    }

    .social-media{

        display: none;
    }
    /*menu hanburger*/

    .nav-links {
        display: none; /* Esconde o menu no mobile */
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        padding: 20px;
        z-index: 50;
    }
    .nav-links a, .nav-links-footer a {
        
        font-size: 0.9rem;
        
    }
    .nav-links.active {
        display: flex; /* Exibe o menu quando ativo */
    }

    .hamburger {
        display: flex;
    }

    /* Transforma o hambúrguer em "X" */
    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
    }
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    /*/////////////*/

    /*footer responsivo*/
    footer {
        display: grid;
        grid-template-columns: 1fr;

    }
    footer .nav-links-footer {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .icons-links-area {
        flex-direction: column;
        justify-content: center;
    }
   
       
    /*////*/
    
    /*slider styles responsivo*/
    .carrocel img{

        margin-top: -50px;
    }
    
    .carrocel-button{
        
        padding: 0 2rem;
        
    }
    .highlight {
        
       
        font-size: 2rem; /* Aumenta o tamanho da fonte */
        
    }
   
    /*/////////*/
   
}

@media (max-width: 480px) {
    /* Para dispositivos ainda menores */
   
    .manual-navigation {
        margin-top: 50px;
    }
    .manual-btn {
        padding: 2px;
        margin-right: 15px;
    }
    .manual-btn:not(:last-child) {
        margin-right: 15px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr;

    }
    footer .nav-links-footer {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    /*//form styles//*/
    .contact-container {
        display: flex;
        flex-direction: column;
       
    }
    
    /*////////*/
}
