* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }
  
  header {

    display: flex;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    background-color: rgba(255, 165, 0);
  }
  
  .wayfinding {
    display: block;
    margin-inline-end: auto;
    padding: 0;
    margin-left: 30px;
  }
  
  div.wayfinding a:-webkit-any-link {
    color: darkgrey;
    cursor: pointer;
    text-decoration: underline;
    margin: 5px;
  }

  div.wayfinding ul{

    list-style: none;
    }

  
  div.wayfinding {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  
  header .logomarca {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  header .logomarca img {
    max-width: 100%;
    width: 200px;
    height: auto;
    margin-right: 5px;
  }
  
  nav {
    max-width: 700px;
    margin: 1rem auto;
  }
  
  /* small view navigation */
  #menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #ff6600;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  
  #menu::before {
    content: "☰";
    color: #ff6600;
    font-weight: 600;
  }
  
  #menu.open::before {
    content: "X";
    color: #ff6600;
    font-weight: 600;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #fff;
  }
  
  .navigation a {
    text-decoration: none;
    font-weight: 600;
    color: #0b1d39;
    padding: 10px 15px;
    transition: color 0.2s ease;
  }
  
  .navigation a:hover {
    color: white;
  }
  
  .navigation ul {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    list-style: none;
  }
  
  .open .navigation a {
    display: block;
  }
  
  header .social-media {
    display: flex;
    padding: 10px;
    gap: 10px;
  }
  
  header .social-media img {
   max-width: 100%;
   width: 32px;
   height: auto;
   transition: transform 0.3s ease;
  }
  
  .social-media img:hover {
    transform: scale(1.1);
  }
  
  header .botao-join-us button {
    font-size: 1rem;
    gap: 1px;
    width: 100px;
    background-color: #f06e04;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: 2px solid #f9f9f9;
    outline-offset: 5px;
    cursor: pointer;
  }
  
  header .botao-join-us button:hover {
    background-color: #ff0000;
  }
   
  
  .cta-button {
    background-color: #ff5100;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .join-form .cta-button:hover {
    background-color: #ff0000;
  }

  footer{

    background-color: #0b1d39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    padding: 20px;
    color: #f9f9f9;

  }

  div.social-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    padding: 20px;

  }
  /*main grid layout*/

  main {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Barra lateral 1fr, galeria 3fr */
    gap: 20px; /* Espaçamento entre as colunas */
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

  }
  
  .container {

    display: contents; /* Mantém a estrutura da grid */
    align-items: center;
    justify-content: center;
    margin: 0 auto;    
}
  .container h2{

    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Duas colunas: 1 para a sidebar e 1 para a galeria */
    gap: 20px;
    
  }
  
  .sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsivo para a galeria */
    gap: 15px;
  }
  
  figure.inner_img {
    position: relative;
  }
  
  figure img {
    
    height: auto;
    border-radius: 8px;
  }
  
  figcaption {
    text-align: center;
    margin-top: 5px;
  }
  

  /*////////////////////////////////*/
/*calendario*/

  #calendar {
    
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .calendar-days div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Ajuste a altura conforme o necessário */
    width: 50px;  /* Ajuste a largura conforme o necessário */
    box-sizing: border-box;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;

  }

  
  .calendar-days div:hover {
    background-color: #ffb84d; /* Cor laranja ao passar o mouse */
  }
  
  .current-day {
    background-color: #ff9900; /* Cor laranja para o dia atual */
    color: white;
    font-weight: bold;
  }
  
  .selected-day {
    background-color: #ff9900; /* Cor laranja ao clicar */
    color: white;
    font-weight: bold;
  }
  
/*///////////////////////////////////*/

  footer #logo-footer{

    max-width: 100%;
    width: 150px;
    height: auto;
    
  }

  .social-footer img{
    max-width: 100%;
    width: 32px;
    height: auto;
  }
  
  footer ul{
    list-style: none;
    display: flex;
    gap: 20px;
    
  }
  .nav-footer ul li a{
    color: #f9f9f9;
  }
footer p{

    font-size: 0.8rem;
}

  
  @media (max-width: 768px) {
   
  
    header .botao-join-us button {
      width: 80%;
    }
    
    .social-media img {
      width: 40px;
    }
  
}
  @media (max-width: 600px) {
    
    header .botao-join-us button {
      width: 70%;
    }
  
    
  
    .social-media img {
      width: 35px;
    }
  
  }

  @media (max-width: 410px) {
    
    header .botao-join-us button {
      width: 70%;
    }
  
  
    .social-media img {
      width: 30px;
    }
  
    
  }

  @media (max-width: 375px) {
    
  
    header .botao-join-us button {
      width: 70%;
    }
  
    
  
    .social-media img {
      width: 30px;
    }
  
   
  }
  @media (max-width: 360px) {
    
  
    header .botao-join-us button {
      width: 70%;
    }
  
  
    .social-media img {
      width: 30px;
    }
  
    
  }
  