body{

    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 50px;

}

/*header items photo and name*/
header{

    text-align: center;
    background-color: #164e70;
    color: white; /*text color*/
    position: relative; /*mantem o hamburguer no lado direito*/
}

.top-menu{

    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.top-menu img{

    width: 20vw;
    max-width: 150px;

}
/*navegation items (menu)*/
nav{

    background-color: black;
    
    
}

nav ul{

    list-style: none;
    margin: 0;
    padding: 0;
    
    
}

nav ul li{

    display: inline-block;
    margin: 10px;
}

nav ul li a{

    text-decoration: none;
    color: white;
}

nav ul li a:hover{

    color: rgb(238, 196, 8);
}

/*hamburguer*/
.hamburguer{
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    flex-direction: column;
    cursor: pointer;
}
.hamburguer span{

    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}
/*main*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    
}
/*course work*/
.coursework{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid transparence;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 0px;
    
}
.coursework h2{

    background-color: #164e70;
    padding: 20px;
    text-align: center;
    color: white;
    margin: 0;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}
.coursework ul{

    margin-left: 10px;
    margin-bottom: 200px;
    

}

.coursework ul li{

    text-align: left;
    
}

.place{
    flex: 1;
    border: 2px solid transparence;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 
}

.place h2{

    background-color: #164e70;
    padding: 20px;
    text-align: center;
    color: white;
    margin: 0 auto;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    max-width: 100%;
    width: 220px;
}

.place img{
    display: block;
    width: 250px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.place{
    
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    
}

.certificates{
    width: 100%;
    border: 2px solid transparence;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 0px;
    
}

.certificates h2{

    background-color: #164e70;
    padding: 20px;
    text-align: center;
    color: white;
    margin: 0;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}

/*cards container*/

.course-list{

    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    padding: 25px;
}

/*card individual- element created in js*/
.course-card{
    border: 2px solid #164e70;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;

}

.course-card:hover {
    transform: scale(1.05);
}

.course-card h3 {
    color: #021520;
}

.course-card p {
    margin: 10px 0;
}

/*completed courses*/

.completed {
    background-color: #0e89c2; /* Verde claro */
    border-color: #0e89c2;
    color: white;
    
}
/* Filtros */
.filter-buttons {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.filter-buttons button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #073653;
    border: 2px solid transparence;
    border-radius: 7px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-buttons button:hover {
    background-color: #0e89c2;
}

/************DIAALOG MODAL STYLES****************************/
dialog {
    width: 50%;
    border: none;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  button#closeModal {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
/*************************************************************/


footer{
    width: 100%;
    background-color: #164e70;
    gap:10px;
    text-align: center;
    color: white;
    margin-top: 15px;
    padding: 10px;
    font-size: 12px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    
}

footer p{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
footer img{

    width: 50px;
    height: auto;

}

/* Weather widget */
.weather-widget {
 
   max-width: 100%;
   margin: 0 auto;
   top: 0;
   bottom: 0;
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
}

.weather-widget h2 {
    color: #164e70;
}

.weather-info {

    display: block;
    
    
}

.temperature p,
.description p,
.extra-info p {
    font-size: 16px;
    margin: 5px 0;
    color: #333;
}

.icon img {
    max-width: 100%;
    width: 80px;
    height: auto;
    }

.extra-info {
    
    justify-content: center;
    padding-bottom: 10px;
}

.extra-info p {
    margin: 0;
    font-weight: bold;
}
.weather-info .title{

    font-size: 18px;
    color: #021520;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 0;
}
.weather-footer {
    
    padding: 1px;
    margin-top: 10px;
    display: inline-block;
}

footer .weather-info{

    display: flex;
    flex-direction: row;
    align-items: center;
}




/* Media queries for smaller screens */
@media (max-width: 768px) {

    main{
        
        flex-direction: column;
        
    }

    .coursework, .place, .certificates{

        width: 100%;
        margin-bottom: 20px;
    }

    .coursework ul {
        margin-bottom: 20px; /* Ajustar margens inferiores em telas menores */
    }
    .coursework ul{

        margin-left: 10px;
        margin-bottom: 200px;
        
        }


    .hamburguer {
        display: flex;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        background-color: #000;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    .course-card{
        width: 60%;
        margin: 0 auto;
    }

    .course-list{

        flex-direction: column;
        gap: 10px;
    }

    /*.weather-widget {
        /*width: 100%;*/
    
}




/****** css da section CLONADA *************************/

/* Estilos para a seção de cursos (Courses links) */

#course-links{

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
#course-links > ul {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    list-style: none;
    text-align: center;
}

#course-links > ul > li {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #E6EDEF;
    border-radius: 0.3rem;
    border: 0.1px solid rgb(169, 169, 169);
}

#course-links li:hover {
    background-color: rgb(169, 169, 169);
    cursor: pointer;
}

#course-links a:visited, #course-links a:link {
    text-decoration: none;
    color: black;
}

#course-links p {
    padding: 0 1rem 1rem 1rem;
}

#course-links .disabled {
    background-color: rgb(94, 94, 94);
    color: white;
}

#course-links .disabled:hover {
    cursor: auto;
}

/* Botões de seleção para os cursos (All, CSE, WDD) */
.selecting-buttons ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    min-width: 100%;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    column-gap: 1rem;
}

.selecting-buttons li {
    background-color: rgb(88, 85, 85);
    color: white;
    border-radius: 0.3rem;
    padding-inline: 30px;
    padding-block: 3px;
}


/* Estilos de grid para a section de cursos em telas maiores */
@media only screen and (min-width: 450px) {
    #course-links > ul {
        display: grid;
        grid: auto / repeat(3, auto);
    }
}

/* Para ajustar a responsividade da section de cursos */
@media only screen and (min-width: 750px) {
    #course-links {
        grid-column: 1 / 3;
    }
}
/* Estilos de responsividade para a lista de cursos */
@media only screen and (min-width: 450px) {
    #course-links > ul {
        display: grid;
        grid: auto / repeat(3, auto);
    }
}

@media only screen and (min-width: 750px) {
    main {
        display: grid;
        grid: auto / 2fr 1fr;
    }

    #course-links {
        grid-column: 1 / 3;

    }
    #course-links h2{
        background-color: #164e70;
        display: block;
        text-align: center;
        background-color: #164e70;
        padding: 20px;
        text-align: center;
        color: white;
        margin: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        
    }
}

@media only screen and (max-width: 750px) {
    #city-details img {
        width: 100%;
        height: auto;
        max-width: 250px;
        max-height: 375px;
    }
}

/* Estilos para o menu de navegação */
nav {
    background: rgb(31, 31, 31);
    text-align: center;
    display: none;
}

nav li {
    padding: 0.5rem;
    padding-left: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li:hover {
    background-color: gray;
}

#x-icon {
    display: none;
}

/* Estilos para o botão de menu no cabeçalho */
#header-details button {
    background-color: transparent;
    border-style: none;
    color: white;
}

#header-details button:hover {
    cursor: pointer;
}

/* Estilos para a lista de cursos */
#course-links > ul {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    list-style: none;
    text-align: center;
}

#course-links > ul > li {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color:white;
    border-radius: 0.3rem;
    border: 0.001px solid rgb(231, 229, 229);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

#course-links > ul > li:hover {
color: white;
}
#course-links li:hover {
    background-color:  #0e89c2;
    cursor: pointer;
}

#course-links .disabled {
    background-color:  #0e89c2;
    color: white;
}

#course-links .disabled:hover {
    cursor: auto;
}

/* Estilos para o modal de detalhes do curso */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 50%);
}

dialog {
    padding: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    border: none;
}

#dialog-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-headers);
    padding: 1rem;
   color: rgb(255, 0, 0);
}

#dialog-body {
    padding: 1rem;
}

#close-dialog {
    background-color: transparent;
    border: none;
    color: rgb(255, 0, 0);
    font-size: 1.5rem;

}


#close-dialog:hover {
    font-weight: 600;

}

#close-dialog:focus {
    outline: none;
    
}


#close-dialog:hover {
    cursor: pointer;
}

/* Estilos para os botões de seleção de cursos */
.selecting-buttons ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    min-width: 100%;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    column-gap: 1rem;
}


